@import "tailwindcss";
@import "tailwindcss-animated";

@theme{
    --color-black: oklch(0.100 0.000 125.5);
    --color-white: oklch(1.000 0.000 125.5);
    --color-primary: var(--primary);
    --color-foreground-main: var(--foreground);
    --color-background-main: var(--background);
    --color-background-secondary: var(--background-secondary);
    --color-outline-main: var(--outline);
    --color-custom-error: var(--error-message);

}

:root {
    --primary: oklch(0.563 0.218 140);
    --foreground: oklch(0.999 0.0126 125.5);
    --background: oklch(0.2122 0 125.5);
    --background-secondary: oklch(0.3 0.011 125.5);
    --outline: oklch(0.503 0 152.47);
    --error-message: oklch(0.8 0.30 29.64);
}

[data-theme='light'] {
    --primary: oklch(0.563 0.218 140);
    --foreground: oklch(0.2122 0 125.5);
    --background: oklch(0.999 0.0126 125.5);
    --background-secondary: oklch(0.930 0.011 125.5);
    --outline: oklch(0.800 0 152.47);
    --error-message: oklch(0.58 0.278 30.7);
}

textarea {
    resize: none;
}